{% extends '::backend.html.twig' %}

{% block id 'producto_show' %}
{% block title %}Datos del producto{% endblock %}

{% block content %}

<div class="input_wrapper">
  Descripción: <strong>{{ entity.descripcion }}</strong>
</div>
<div class="input_wrapper">
  Unidad de medida: <strong>{{ entity.unidadmedida }}</strong>
</div>

{% endblock %}
{% block button_area %}
<a href="{{ path('backend_producto_edit', { 'id': entity.id }) }}" class="button"><div class="icon"></div>Modificar producto</a>
<a href="{{ path('backend_producto') }}" class="button"><div class="icon back"></div>Volver al listado</a>
<a class="button_primary button continue" href="{{ path('backend_producto_new') }}">
  Añadir un nuevo producto
</a>
{% endblock %}