{% extends '::backend.html.twig' %}

{% block id 'fuente_edit' %}
{% block title %}Modificar la fuente {{ entity }}{% endblock %}

{% block content %}
<form action="{{ path('backend_fuente_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    <div class="input_wrapper">
    {{ form_row(edit_form.nombre) }}
    </div>
    <p>
        <button class="button_primary button continue" type="submit">Guardar cambios</button>
    </p>
    {{ form_rest(edit_form) }}
</form>
{% endblock %}
{% block button_area %}
<a href="{{ path('backend_fuente') }}" class="button"><div class="icon back"></div>Volver al listado</a>
{% endblock %}