{% extends '::backend.html.twig' %}

{% block id 'usuario_edit' %}
{% block title %}Modificar el usuario {{ entity.usuario }}{% endblock %}

{% block content %}
<form action="{{ path('backend_usuario_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    <div class="input_wrapper">
    {{ form_row(edit_form.nombres) }}
    {{ form_row(edit_form.usuario) }}
    {{ form_row(edit_form.password) }}
    {{ form_row(edit_form.email) }}
    {{ form_label(edit_form.tipo) }}
    {{ form_widget(edit_form.tipo, { 'attr' : {'class' : 'choices'}}) }}
    </div>
    <div class="input_wrapper">
      {{ form_label(edit_form.area) }}<br />
      {{ form_widget(edit_form.area) }}
    </div>
    <div class="input_wrapper">
      {{ form_label(edit_form.proyecto) }}<br />
      {{ form_widget(edit_form.proyecto) }}
    </div>
    <div class="input_wrapper">
    {{ form_widget(edit_form.estado) }} <label for="cdti_backendbundle_usuariotype_estado">Activo</label>
    </div>
    {#{ form_widget(edit_form) }#}
    <p>
        <button class="button_primary button continue" type="submit">Guardar cambios</button>
    </p>
    {{ form_rest(edit_form) }}
</form>
{% endblock %}
{% block button_area %}
<a href="{{ path('backend_usuario') }}" class="button"><div class="icon back"></div>Volver al listado</a>
{% endblock %}