{% extends '::backend.html.twig' %}

{% block id 'usuario_new' %}
{% block title %}Añadir un nuevo usuario{% endblock %}

{% block content %}
{{ form_errors(form) }}
<form action="{{ path('backend_usuario_create') }}" method="post" {{ form_enctype(form) }}>
    <div class="input_wrapper">
    {{ form_row(form.nombres) }}
    {{ form_row(form.usuario) }}
    {{ form_row(form.password) }}
    {{ form_row(form.email) }}
    {{ form_label(form.tipo) }}
    {{ form_widget(form.tipo, { 'attr' : {'class' : 'choices'}}) }}
    </div>
    <div class="input_wrapper">
      {{ form_label(form.area) }}<br />
      {{ form_widget(form.area) }}
    </div>
    <div class="input_wrapper">
      {{ form_label(form.proyecto) }}<br />
      {{ form_widget(form.proyecto) }}
    </div>
    <div class="input_wrapper">
    {{ form_widget(form.estado) }} <label for="cdti_backendbundle_usuariotype_estado">Activo</label>
    </div>
    <p>
        <button class="button_primary button continue" type="submit">Añadir usuario</button>
    </p>
    {{ form_rest(form) }}
</form>
{% endblock %}
{% block button_area %}
<a href="{{ path('backend_usuario') }}" class="button"><div class="icon back"></div>Volver al listado</a>
{% endblock %}
