{% extends '::backend.html.twig' %}

{% block id 'usuario_show' %}
{% block title %}Datos del usuario '{{ entity.usuario }}'{% endblock %}

{% block content %}
<div class="input_wrapper">
  Nombres: <strong>{{ entity.nombres }}</strong>
</div>
<div class="input_wrapper">
  Usuario: <strong>{{ entity.usuario }}</strong>
</div>
<div class="input_wrapper">
  E-mail: <strong>{{ entity.email }}</strong>
</div>
<div class="input_wrapper">
  Tipo: <strong>{% if entity.tipo == 'A' %}Administrador{% else %}Operador{% endif %}</strong>
</div>

{% endblock %}
{% block button_area %}
<a href="{{ path('backend_usuario_edit', { 'id': entity.id }) }}" class="button"><div class="icon"></div>Modificar Usuario</a>
<a href="{{ path('backend_usuario') }}" class="button"><div class="icon back"></div>Volver al listado</a>
<a class="button_primary button continue" href="{{ path('backend_usuario_new') }}">
  Añadir un nuevo usuario
</a>
{% endblock %}